doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Liste d&apos;&eacute;l&egrave;ves
header
  nav
    h1 404
main
  .container
    p Cette page n&apos;&eacute;xiste pas :(
script.