doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Liste d&apos;&eacute;l&egrave;ves
header
  nav
    h1 Bienvenue !
main
  .container
    form(action="" method='POST')
      .form-group
        label
          | Name
          input.form-control(name='name' type='text' required)
        label
          | Date de naissance
          input#start(type='date' name='trip-start' required)
      button.btn.btn-primary(type='submit') Ajouter
      a(href='/users') Liste d&apos;utilisateur
script.